@import '../variables.module.scss';


.flex-mosaic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
