@import '../variables.module.scss';
@import '../animations.module.scss';

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: zoom-out;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.modal__content {
  position: relative;
  animation: zoomIn .3s;
  border-radius: 10px;
  max-width: 80%;
  max-height: 90%;
  cursor: default;

  @media (max-width: $screen-md-min) {
    height: auto;
    max-height: 90%;
  }
}

.modal__content--out {
  animation: zoomOut .3s;
}

.modal--close {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 5px;
}

.modal--close:hover,
.modall--close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}