@import '../ui/variables.module.scss';

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    & > {
        flex: 1;
    }
    @media (max-width: $screen-md-min) {
        flex-direction: column;
        &>* {
            max-height: 50%;
        }
    }
}

.bg--grey {
    background-color: rgba(43, 43, 43, 1);
}

.image-container{
    background-color: rgba(43, 43, 43, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &>* {
        flex: 1;
        align-self: center;
        max-width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    @media (max-width: $screen-md-min) {
        height: auto;
    }

    @media (min-width: $screen-md-min) {
        padding: 24px 0;
        box-sizing: border-box;
    }
}

.container__bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    & > * {
        flex: 1;
        align-self: center;
        max-width: 100%;
        vertical-align: middle;
        text-align: left;
        width: 100%;
        padding: 24px;
        box-sizing: border-box;
    
        @media (max-width: $screen-md-min) {
            padding: 0 24px 24px;
        }
    
        &:first-child {
            @media (max-width: $screen-md-min) {
                padding-bottom: 14px;
            }
        }
        &:first-child+* {
            flex: 2;
            @media (max-width: $screen-md-min) {
                display: none;
            }
        }
    }

    @media (max-width: $screen-md-min) {
        display: block;
        height: auto;
    }
}
