@import '../variables.module.scss';

.menu {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 50;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 90px;
    background-color: #3C3C3C;
    text-align: center;

    @media (max-width: $screen-md-min) {
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 80px;
    }
}

.view-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;

    @media (max-width: $screen-md-min) {
        flex-direction: row;
    }

    &>* {
        width: 66px;
        height: 66px;
        border-radius: 10px;
        display: block;
        box-sizing: border-box;
        padding-top: 18px;
        margin-bottom: 5px;

        @media (max-width: $screen-md-min) {
            margin-bottom: 0;
        }


        &:hover {
            background-color: #828282;
        }
    }
}

.logo {
    position: absolute;
    z-index: 51;
    top: 50px;
    left: 30px;

    @media (max-width: $screen-md-min) {
        left: 24px;
        top: auto;
        bottom: 24px;
    }
}