@import '../variables.module.scss';

$flex-margin-size: 5px;
$flex-item-default-height: 150px;

$default-pull-up-size: calc($flex-item-default-height * -1 + $flex-margin-size);
$card-size-default: calc($flex-item-default-height * 1);
$card-size-tall: calc($flex-item-default-height * 2);

.like {
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: #2D9CDB;
    border-radius: 5px;
    & > *{
        display: block;
    }
}

.link {
    width: 100%;
    height: 100%;
    display: block;
}

.masonry-card{
    position: relative;
    background-size: cover;
    background-position: center;
    margin: $flex-margin-size;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    width: calc(100% - $flex-margin-size * 2);
    height: $card-size-tall;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        width: calc(100% / 2 - $flex-margin-size * 2);

        &:nth-child(4n) {
            margin-top: $default-pull-up-size;
        }

        &:nth-child(4n+2) {
            height: $card-size-default;
        }

        &:nth-child(4n+3) {
            height: $card-size-default;
        }
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        width: calc(100% / 4 - $flex-margin-size * 2);

        &:nth-child(8n+2) {
            height: $card-size-default;
        }

        &:nth-child(8n+4) {
            height: $card-size-default;
        }

        &:nth-child(8n+5) {
            height: $card-size-default;
        }

        &:nth-child(8n+6) {
            margin-top: $default-pull-up-size;
        }

        &:nth-child(8n+7) {
            height: $card-size-default;
        }

        &:nth-child(8n) {
            margin-top: $default-pull-up-size;
        }
    }

    @media (min-width: $screen-lg-min) {
        width: calc(100% / 5 - $flex-margin-size * 2);


        &:nth-child(2n) {
            height: $flex-item-default-height;
        }

        &:nth-child(2n+1) {
            height: $card-size-tall;
        }

        &:nth-child(10n+7) {
            margin-top: $default-pull-up-size;
        }

        &:nth-child(10n+9) {
            margin-top: $default-pull-up-size;
        }
    }
}
