@import '../variables.module.scss';

.seperator {
    border-top: 1px solid #3C3C3C;
    margin: 0 0 24px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &>li {
        flex: 1 1 33%;
        display: block;
        padding: 0;
        margin: 0;

        @media (max-width: $screen-md-min) {
            flex: 1 1 50%;
        }

        &>h6 {
            margin: 0 0 4px;
            color: #828282;
            font-size: 12px;
        }

        &>p {
            margin: 0 0 24px;
            font-size: 16px;
            color: #E0E0E0;
        }
    }
}
