@import './components/ui/grid.module.scss';

:global(body.no-overflow) {
    overflow: hidden;
}
:global(body) {
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #2B2B2B;
}

:global(#root) {
    padding-left: 90px;
    box-sizing: border-box;

    @media (max-width: $screen-md-min) {
        padding-left: 0;
        padding-bottom: 80px;
    }
}
