@import '../variables.module.scss';

.header {
    justify-content: space-between;

    &>* {
        clear: both;
    }

    &>*:first-child {
        margin-bottom: 24px;
    }
}

.like-btn {
    display: inline-block;
    text-align: center;
    background-color: #3C3C3C;
    border-radius: 4px;
    border: 1px solid #666565;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.2em;

    @media (max-width: $screen-md-min) {
        position: absolute;
        top: 24px;
        left: 24px;
    }
} 

.like-btn--liked {
    background-color: #2D9CDB;
    border: 1px solid #1980bc;
}

.like-btn__text {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 7px;
}

.title {
    &>h4 {
        font-size: 32px;
        color: #fff;
        margin: 0 0 4px;
    }
}

.bio {
    &>a {
        display: block;

        &>* {
            display: inline-block;
            vertical-align: middle;
        }

        &>span {
            font-size: 18px;
            color: #BDBDBD;
        }

        &>img {
            margin-right: 8px;
            border-radius: 50%;
            border: 1px solid rgb(43, 43, 43);
        }
    }
}
