@use "sass:math";
@import "./variables.module.scss";
@import './animations.module.scss';

@mixin clearfix() {

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

@mixin container-fixed($gutter: $grid-gutter-width) {
    padding-right: ceil(math.div($gutter, 2));
    padding-left: floor(math.div($gutter, 2));
    margin-right: auto;
    margin-left: auto;
    @include clearfix;
}

@mixin make-row($gutter: $grid-gutter-width) {
    margin-right: floor(math.div($gutter, -2));
    margin-left: ceil(math.div($gutter, -2));
    @include clearfix;
}

.container {
    @include container-fixed;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }

    @media (min-width: $screen-md-min) {
        width: $container-md;
    }

    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

.container-fluid {
    @include container-fixed;
}

.row {
    @include make-row;
}

