$grid-gutter-width: 30px;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;

$screen-md: 992px;
$screen-md-min: $screen-md;

$screen-lg: 1200px;
$screen-lg-min: $screen-lg;

$container-tablet: (720px + $grid-gutter-width);
$container-sm: $container-tablet;

$container-desktop: (940px + $grid-gutter-width);
$container-md: $container-desktop;

$container-large-desktop: (1140px + $grid-gutter-width);
$container-lg: $container-large-desktop;


